[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/Typescript-SOLID"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/TS-SOLID
	url = https://github.com/Mathesu-veLi/Typescript-SOLID.git
[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Phonebook"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Secao 11 - Projeto Agenda
	url = https://github.com/Mathesu-veLi/Phonebook.git
[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Api-rest"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Secao 13 - API Rest
	url = https://github.com/Mathesu-veLi/Api-rest.git
[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Lista-de-tarefas"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/Secao 14 - React com componentes de classe Basico
	url = https://github.com/Mathesu-veLi/Lista-de-tarefas.git
[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/secao15_react-base"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/JS/secao15_react-base
	url = https://github.com/Mathesu-veLi/Sistema-escolar.git
