[submodule "JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/Typescript-SOLID"]
	path = JS/Udemy/Curso JS e TS do basico ao avancado - Luiz Otavio Miranda/TS-SOLID
	url = https://github.com/Mathesu-veLi/Typescript-SOLID.git
