body
{
    width: 100vw;
    background: linear-gradient(to top, #49a09d, #5f2c82);
}

section#login
{
    width: 950px;
    height: 300px;
}

section#login > div#imagem
{
    float: right;
    width: 50%;
    height: 100%;
}

#formulario
{
    float: left;
    width: 50%;
}
